<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Tours in day</h1>
    <div
      class="containers mt-2 d-flex align-content-start flex-wrap"
      style="margin-bottom: 120px"
    >
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://stockdep.net/files/images/65601899.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text"></p>
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <p class="card-text"></p>
          <p class="card-text"></p>
          <p>
            <a href="#" class="btn bg-success" style="color: rgb(15, 14, 14)"
              >Explore</a
            >
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://stockdep.net/files/images/65601899.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text"></p>
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <p class="card-text"></p>
          <p class="card-text"></p>
          <p>
            <a href="#" class="btn bg-success" style="color: rgb(15, 14, 14)"
              >Explore</a
            >
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://stockdep.net/files/images/65601899.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text"></p>
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <p class="card-text"></p>
          <p class="card-text"></p>
          <p>
            <a href="#" class="btn bg-success" style="color: rgb(15, 14, 14)"
              >Explore</a
            >
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://stockdep.net/files/images/65601899.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text"></p>
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <p class="card-text"></p>
          <p class="card-text"></p>
          <p>
            <a href="#" class="btn bg-success" style="color: rgb(15, 14, 14)"
              >Explore</a
            >
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
