<footer class="footer">
  <div class="containers">
    <div class="footer-top">
      <div class="footer-column">
        <img
          srcset="<%= process.env.BASE_URL %>./images/smart.png 4x"
          alt=""
          class="footer-logo"
        />
        <p class="text footer-desc">
          Plan and book your perfect trip with expert advice, travel tips
          destination information from us
        </p>
        <p class="text copy-right">
          ©2021 Nguyen Duy Tuan. All rights reserved
        </p>
      </div>
      <div class="footer-column">
        <h3 class="footer-title">Destinations</h3>
        <ul class="footer-links">
          <li class="footer-item">
            <a href="#!" class="footer-link">Destination Guides</a>
            <a href="#!" class="footer-link">Destination Guides</a>
            <a href="#!" class="footer-link">Destination Guides</a>
            <a href="#!" class="footer-link">Destination Guides</a>
            <a href="#!" class="footer-link">Destination Guides</a>
          </li>
        </ul>
      </div>
      <div class="footer-column">
        <h3 class="footer-title">Shop</h3>
        <ul class="footer-links">
          <li class="footer-item">
            <a href="#!" class="footer-link">Destination Guides</a>
            <a href="#!" class="footer-link">Destination Guides</a>
            <a href="#!" class="footer-link">Destination Guides</a>
            <a href="#!" class="footer-link">Destination Guides</a>
            <a href="#!" class="footer-link">Destination Guides</a>
          </li>
        </ul>
      </div>
      <div class="footer-column">
        <h3 class="footer-title">Interest</h3>
        <ul class="footer-links">
          <li class="footer-item">
            <a href="#!" class="footer-link">Destination Guides</a>
            <a href="#!" class="footer-link">Destination Guides</a>
            <a href="#!" class="footer-link">Destination Guides</a>
            <a href="#!" class="footer-link">Destination Guides</a>
            <a href="#!" class="footer-link">Destination Guides</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <a href="#!" class="footer-social">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="footer-social">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="#!" class="footer-social">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#!" class="footer-social">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="#!" class="footer-social">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
</footer>
