<!DOCTYPE html>
<html lang="en">
  <% include header %>
  <body>
    <div class="wrapper">
      <main>
        <session class="hero">
          <div class="containers"><%- include(content) %></div>
        </session>
      </main>
      <% include footer %>
    </div>
  </body>
</html>
